.header {
  background-color: $dark-blue;
  padding: 2rem 0;
  position: relative;
  font-family: "Epilogue", sans-serif;

  &__content {
    @include max-width();
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    list-style: none;
    padding: 0;
    width: 100%;

    position: absolute;
    background-color: $white;
    flex-direction: column;
    height: 0;
    right: 0;
    top: 7.8rem;
    align-items: center;
    transition: all 0.5s ease-out;
    overflow: hidden;
    border-bottom-left-radius: 2rem;
    border-bottom-right-radius: 2rem;

    &--open {
      height: 22.5rem;
      background-color: $white;
    }
  }

  &__menuItem {
    //font-weight: bold;
    color: $dark-brown;
    padding: 1.6rem 0;
    border-bottom: 1px solid $beige;
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    cursor: pointer;
  }
  &__menuIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    border: 1px solid #ffffff4b;
    border-radius: 0.5rem;
    cursor: pointer;
  }
  &__contact {
    display: none;
  }
  @include respond-to("md") {
    &__content {
      //column-gap: 1.6rem;
    }
    &__menu {
      display: flex;
      align-items: center;
      justify-content: space-evenly;

      position: unset;
      background-color: transparent;
      flex-direction: row;
      height: auto;
    }
    &__mobile {
      display: none;
    }
    &__menuItem {
      color: $white;
      border-bottom: none;
    }
    &__menuIcons {
      display: none;
    }
    &__contact {
      display: block;
    }
  }
}
