.footer {
  background-color: $light-beige;
  font-family: "Epilogue", sans-serif;
  padding: 5rem 0 4.3rem 0;

  &__grid {
    @include max-width();
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;
  }

  &__copyright {
    grid-column: span 2;
    padding: 0 3rem;
    text-align: center;
  }

  &__legal {
    display: flex;
    column-gap: 7rem;

    //margin: 4.3rem 0;
  }

  @include respond-to("md") {
    &__grid {
      @include max-width();
      display: grid;
      grid-template: 1fr repeat(2, min-content) / repeat(4, 1fr);
      align-items: start;
    }

    &__copyright {
      text-align: left;
      //margin: 4.3rem 0;
    }

    &__legal {
      grid-column: span 2;
      justify-self: end;

      //margin: 4.3rem 0;
    }
  }
}
