.counterGrid {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 auto;
  @include respond-to("lg") {
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 7rem;
  }
}
