.counterGrid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  @include respond-to("md") {
    flex-direction: row;
    align-items: center;
  }
}
