.imageCardGrid {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  row-gap: 3.2rem;
  column-gap: 3rem;

  @include respond-to("md") {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50rem;
    grid-auto-rows: 1fr;
    @include respond-to("lg") {
      grid-template-rows: 72rem;
    }
  }
}
