.testimonialGrid {
  columns: 1;
  column-gap: 0;

  @include max-width;

  @include respond-to("lg") {
    columns: 2;
  }
}

.subContainer {
  transform: scaleY(-1);
}
.subContainer > :nth-child(n) {
  transform: rotateX(180deg);
}
