$white: #fff;
$light-grey: rgba(255, 255, 255, 0.64);
$dark-orange: #ef6d58;
$light-brown: rgba(57, 20, 0, 0.64);
$dark-brown: #391400;
$beige: #f3d1bf;
$light-beige: #fdf0e9;
$dark-blue: #28293e;
$purple: #b550f8;
